<%= content_for :head do %>
	<title>About Us</title>
<% end %>

<%= content_for :intro do %>
	<h1>About Us</h1>
	<h2>This is our story</h2>
<% end %>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et ullamcorper mi. Vivamus rhoncus lectus id erat ultricies euismod. Aenean quam est, posuere eget est sit amet, iaculis molestie nunc. Donec consequat nunc rutrum tortor condimentum, sit amet consectetur metus dignissim. Phasellus eget lorem mauris. Duis ac mattis justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
