<%= content_for :head do %>
    <title>Our Services</title>
<% end %>

<%= content_for :intro do %>
    <h1>Our Services</h1>
    <h2>We have a Solution for You</h2>
<% end %>
<p>Nulla eu sagittis augue, imperdiet fringilla libero. In ac suscipit mauris. Quisque id tincidunt libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sed efficitur erat. Quisque id aliquet tortor. Proin non pretium orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus tristique dolor et varius. Proin sit amet pulvinar risus, non rhoncus augue. Phasellus semper, sem et venenatis varius, velit est pretium sapien, a congue diam nibh sed justo. Donec pharetra, diam non mollis faucibus, elit purus iaculis diam, id luctus massa odio et ante. Curabitur lobortis sem in velit fringilla, eget molestie felis accumsan. Nullam vitae quam sit amet sapien porta facilisis. Fusce suscipit auctor orci, eget vehicula tellus porttitor id.</p>
