<ul>
    <li style="display: inline"><%= link_to 'Home', root_path %></li>
    <li style="display: inline"><%= link_to 'About Us', about_path %></li>
    <li style="display: inline"><%= link_to 'Our Services', services_path %></li>
</ul>
